.cproject
.project
.pydevproject
*.tmp
*.bak
*.swp
.settings
*.so
*.o
unit_test
gam_unit_test
*.btr
.pydevproject
mnist_cpu
mnist_gpu
mnist_data/
tests/bin/
.vscode
*.lst
*.rec
*.pyc
fastjob-*
examples/distributed_models/resnet2nodes
examples/distributed_models/mnist2Dgrid
examples/distributed_models/mnistRing
examples/distributed_models/resnet2Dgrid
examples/mnist/mnistRing
examples/mnist/mnist2Dgrid
